<?xml version="1.0" encoding="utf-8"?>
<contents>
  <object type="Class" href="plugin">
    <doc><![CDATA[<DIV>Represents a&nbsp;separate functional unit wich can be executed by the main part of the application.</DIV>]]></doc>
    <attribute name="Stereotype"></attribute>
    <attribute name="Name">Plugin</attribute>
    <attribute name="RuntimeName">Plugin</attribute>
    <attribute name="IsAbstract">False</attribute>
    <attribute name="ConstructorVisibility">Public</attribute>
    <attribute name="AdditionalNamespaces"></attribute>
    <attribute name="Interfaces"></attribute>
    <attribute name="id">{e06579c6-ee99-48ee-b8e3-1197be138911}</attribute>
    <attribute name="IsSealed">False</attribute>
    <attribute name="CodeComment"></attribute>
    <link name="Superclass">
      <object type="Class" href="abstractroot">
        <doc><![CDATA[<DIV><SUMMARY>The root class for most of the model classes.</DIV>]]></doc>
        <attribute name="Stereotype"></attribute>
        <attribute name="Name">AbstractRoot</attribute>
        <attribute name="RuntimeName">AbstractRoot</attribute>
        <attribute name="IsAbstract">True</attribute>
        <attribute name="ConstructorVisibility">Public</attribute>
        <attribute name="AdditionalNamespaces"></attribute>
        <attribute name="Interfaces"></attribute>
        <attribute name="id">{0613bcd0-65d6-4738-a2c6-95f43191d4d9}</attribute>
        <attribute name="IsSealed">False</attribute>
        <attribute name="CodeComment"></attribute>
      </object>
    </link>
    <link name="Subclasses">
      <object type="Class" href="report">
        <doc><![CDATA[<DIV>
<DIV>Represents a&nbsp;separate unit which provides&nbsp;report generation&nbsp;functionality. It can be executed by the main part of the application.</DIV></DIV>]]></doc>
        <attribute name="Stereotype"></attribute>
        <attribute name="Name">Report</attribute>
        <attribute name="RuntimeName">Report</attribute>
        <attribute name="IsAbstract">False</attribute>
        <attribute name="ConstructorVisibility">Public</attribute>
        <attribute name="AdditionalNamespaces"></attribute>
        <attribute name="Interfaces"></attribute>
        <attribute name="id">{536837d9-2309-4c8e-90ec-bc01f7b5d76e}</attribute>
        <attribute name="IsSealed">False</attribute>
        <attribute name="CodeComment"></attribute>
      </object>
      <object type="Class" href="railtariff">
        <doc><![CDATA[<DIV>
<DIV><SPAN style="FONT-FAMILY: Verdana">A separate functional&nbsp;unit which represents a rail tariff. It can be executed by the main part of the application.</SPAN></DIV></DIV>]]></doc>
        <attribute name="Stereotype"></attribute>
        <attribute name="Name">RailTariff</attribute>
        <attribute name="RuntimeName">RailTariff</attribute>
        <attribute name="IsAbstract">False</attribute>
        <attribute name="ConstructorVisibility">Public</attribute>
        <attribute name="AdditionalNamespaces"></attribute>
        <attribute name="Interfaces"></attribute>
        <attribute name="id">{c1c375b9-aa5a-4e11-b4a9-39ffddfae08c}</attribute>
        <attribute name="IsSealed">False</attribute>
        <attribute name="CodeComment"></attribute>
      </object>
      <object type="Class" href="import">
        <doc><![CDATA[<DIV>
<DIV>Represents a&nbsp;separate unit which provides import functionality. It can be executed by the main part of the application.</DIV></DIV>]]></doc>
        <attribute name="Stereotype"></attribute>
        <attribute name="Name">Import</attribute>
        <attribute name="RuntimeName">Import</attribute>
        <attribute name="IsAbstract">False</attribute>
        <attribute name="ConstructorVisibility">Public</attribute>
        <attribute name="AdditionalNamespaces"></attribute>
        <attribute name="Interfaces"></attribute>
        <attribute name="id">d2d82467-86fa-45f8-85a9-9b4ba3e22f5f</attribute>
        <attribute name="IsSealed">False</attribute>
        <attribute name="CodeComment"></attribute>
      </object>
    </link>
    <link name="TaggedValue" />
    <link name="Feature">
      <object type="Attribute">
        <doc><![CDATA[<DIV>A text describing the purpose of this plugin.</DIV>]]></doc>
        <modlrstring>Description: String = &lt;NULL&gt;</modlrstring>
        <attribute name="Stereotype"></attribute>
        <attribute name="Name">Description</attribute>
        <attribute name="RuntimeName">Description</attribute>
        <attribute name="Visibility">Public</attribute>
        <attribute name="id">{2f42ecd5-24ec-403a-bc9c-57c2d89741e5}</attribute>
        <attribute name="Multiplicity"></attribute>
        <attribute name="AttributeType">String</attribute>
        <attribute name="HasUserCode">False</attribute>
        <attribute name="InitialValue">&lt;NULL&gt;</attribute>
        <attribute name="SetterVisibility">Default</attribute>
        <attribute name="CodeComment"></attribute>
        <link name="Type">
          <object type="Datatype">
            <attribute name="Stereotype"></attribute>
            <attribute name="Name">String</attribute>
            <attribute name="RuntimeName">String</attribute>
            <attribute name="IsAbstract">False</attribute>
          </object>
        </link>
        <link name="TaggedValue">
          <object type="TaggedValue">
            <attribute name="Value">True</attribute>
            <attribute name="Tag">Eco.AllowNULL</attribute>
          </object>
          <object type="TaggedValue">
            <attribute name="Value">4000</attribute>
            <attribute name="Tag">Eco.Length</attribute>
          </object>
          <object type="TaggedValue">
            <attribute name="Value">StringAsMemo</attribute>
            <attribute name="Tag">Eco.PMapper</attribute>
          </object>
        </link>
      </object>
      <object type="Method">
        <doc><![CDATA[<DIV><SPAN style="TEXT-DECORATION: line-through">Not in use.</SPAN></DIV>]]></doc>
        <modlrstring>CheckPrivileges(user:SysUser):Boolean</modlrstring>
        <attribute name="Stereotype"></attribute>
        <attribute name="Name">CheckPrivileges</attribute>
        <attribute name="RuntimeName">CheckPrivileges</attribute>
        <attribute name="Visibility">Protected</attribute>
        <attribute name="id">{6a61879c-d932-4851-a93c-657170a7b750}</attribute>
        <attribute name="IsSealed">False</attribute>
        <attribute name="IsConstructor">False</attribute>
        <attribute name="IsVirtual">False</attribute>
        <attribute name="IsNew">False</attribute>
        <attribute name="IsOverride">False</attribute>
        <attribute name="IsStatic">False</attribute>
        <attribute name="IsAbstract">False</attribute>
        <attribute name="Precondition"></attribute>
        <attribute name="Postcondition"></attribute>
        <attribute name="IsQuery">False</attribute>
        <attribute name="Body"></attribute>
        <link name="ReturnParameter">
          <object type="Parameter">
            <attribute name="Stereotype"></attribute>
            <attribute name="Name"></attribute>
            <attribute name="RuntimeName"></attribute>
            <attribute name="Kind">Return</attribute>
            <link name="Type">
              <object type="Datatype">
                <attribute name="Stereotype"></attribute>
                <attribute name="Name">Boolean</attribute>
                <attribute name="RuntimeName">Boolean</attribute>
                <attribute name="IsAbstract">False</attribute>
              </object>
            </link>
          </object>
        </link>
        <link name="Parameter">
          <object type="Parameter">
            <attribute name="Stereotype"></attribute>
            <attribute name="Name">user</attribute>
            <attribute name="RuntimeName">user</attribute>
            <attribute name="Kind">In</attribute>
            <link name="Type">
              <object type="Datatype">
                <attribute name="Stereotype"></attribute>
                <attribute name="Name">SysUser</attribute>
                <attribute name="RuntimeName">SysUser</attribute>
                <attribute name="IsAbstract">False</attribute>
              </object>
            </link>
          </object>
        </link>
        <link name="TaggedValue" />
      </object>
      <object type="Attribute">
        <doc><![CDATA[<DIV>Specifies the&nbsp;assembly containing the implementation of the plugin's functionality.&nbsp;May be a relative path to the location of the&nbsp;application.&nbsp;Used by <SPAN style="FONT-STYLE: italic">GetImplementation</SPAN><SPAN style="FONT-STYLE: italic">()</SPAN>.</DIV>]]></doc>
        <modlrstring>AssemblyFileName: String = Rcs.Eurad.Reports.MainReports.dll</modlrstring>
        <attribute name="Stereotype"></attribute>
        <attribute name="Name">AssemblyFileName</attribute>
        <attribute name="RuntimeName">AssemblyFileName</attribute>
        <attribute name="Visibility">Public</attribute>
        <attribute name="id">{840174e5-8e3f-453b-8148-ff1ce8ee34d6}</attribute>
        <attribute name="Multiplicity"></attribute>
        <attribute name="AttributeType">String</attribute>
        <attribute name="HasUserCode">False</attribute>
        <attribute name="InitialValue">Rcs.Eurad.Reports.MainReports.dll</attribute>
        <attribute name="SetterVisibility">Default</attribute>
        <attribute name="CodeComment"></attribute>
        <link name="Type">
          <object type="Datatype">
            <attribute name="Stereotype"></attribute>
            <attribute name="Name">String</attribute>
            <attribute name="RuntimeName">String</attribute>
            <attribute name="IsAbstract">False</attribute>
          </object>
        </link>
        <link name="TaggedValue">
          <object type="TaggedValue">
            <attribute name="Value">250</attribute>
            <attribute name="Tag">Eco.Length</attribute>
          </object>
        </link>
      </object>
      <object type="Attribute">
        <doc><![CDATA[<DIV><SPAN style="TEXT-DECORATION: line-through">Not in use.</SPAN></DIV>]]></doc>
        <modlrstring>RequiredPrivilege: String</modlrstring>
        <attribute name="Stereotype"></attribute>
        <attribute name="Name">RequiredPrivilege</attribute>
        <attribute name="RuntimeName">RequiredPrivilege</attribute>
        <attribute name="Visibility">Public</attribute>
        <attribute name="id">{ddff37b6-d65f-4d8a-ba95-340631d01b4f}</attribute>
        <attribute name="Multiplicity"></attribute>
        <attribute name="AttributeType">String</attribute>
        <attribute name="HasUserCode">True</attribute>
        <attribute name="InitialValue"></attribute>
        <attribute name="SetterVisibility">Default</attribute>
        <attribute name="CodeComment"></attribute>
        <link name="Type">
          <object type="Datatype">
            <attribute name="Stereotype"></attribute>
            <attribute name="Name">String</attribute>
            <attribute name="RuntimeName">String</attribute>
            <attribute name="IsAbstract">False</attribute>
          </object>
        </link>
        <link name="TaggedValue">
          <object type="TaggedValue">
            <attribute name="Value">250</attribute>
            <attribute name="Tag">Eco.Length</attribute>
          </object>
          <object type="TaggedValue">
            <attribute name="Value">True</attribute>
            <attribute name="Tag">Eco.HasUserCode</attribute>
          </object>
        </link>
      </object>
      <object type="Attribute">
        <doc><![CDATA[<DIV>The name of the class which implements the functionality of this plugin.</DIV>]]></doc>
        <modlrstring>ClassName: String = Rcs.Eurad.Reports.SomeNiceReport</modlrstring>
        <attribute name="Stereotype"></attribute>
        <attribute name="Name">ClassName</attribute>
        <attribute name="RuntimeName">ClassName</attribute>
        <attribute name="Visibility">Public</attribute>
        <attribute name="id">{eb59bb4b-0199-4275-a812-a87cc70a1050}</attribute>
        <attribute name="Multiplicity"></attribute>
        <attribute name="AttributeType">String</attribute>
        <attribute name="HasUserCode">False</attribute>
        <attribute name="InitialValue">Rcs.Eurad.Reports.SomeNiceReport</attribute>
        <attribute name="SetterVisibility">Default</attribute>
        <attribute name="CodeComment"></attribute>
        <link name="Type">
          <object type="Datatype">
            <attribute name="Stereotype"></attribute>
            <attribute name="Name">String</attribute>
            <attribute name="RuntimeName">String</attribute>
            <attribute name="IsAbstract">False</attribute>
          </object>
        </link>
        <link name="TaggedValue">
          <object type="TaggedValue">
            <attribute name="Value">250</attribute>
            <attribute name="Tag">Eco.Length</attribute>
          </object>
        </link>
      </object>
      <object type="Attribute">
        <doc><![CDATA[<DIV>The name of the plugin.</DIV>]]></doc>
        <modlrstring>Name: String = Nowy raport</modlrstring>
        <attribute name="Stereotype"></attribute>
        <attribute name="Name">Name</attribute>
        <attribute name="RuntimeName">Name</attribute>
        <attribute name="Visibility">Public</attribute>
        <attribute name="id">{f41969f8-3d04-475c-bad1-55ee9a0a7524}</attribute>
        <attribute name="Multiplicity"></attribute>
        <attribute name="AttributeType">String</attribute>
        <attribute name="HasUserCode">False</attribute>
        <attribute name="InitialValue">Nowy raport</attribute>
        <attribute name="SetterVisibility">Default</attribute>
        <attribute name="CodeComment"></attribute>
        <link name="Type">
          <object type="Datatype">
            <attribute name="Stereotype"></attribute>
            <attribute name="Name">String</attribute>
            <attribute name="RuntimeName">String</attribute>
            <attribute name="IsAbstract">False</attribute>
          </object>
        </link>
        <link name="TaggedValue">
          <object type="TaggedValue">
            <attribute name="Value">250</attribute>
            <attribute name="Tag">Eco.Length</attribute>
          </object>
        </link>
      </object>
      <object type="Method">
        <doc><![CDATA[<DIV>Static method. Returns&nbsp;the plugin with the specified name. If no such plugin exists an <SPAN style="FONT-STYLE: italic">ApplicationException</SPAN> is thrown.</DIV>]]></doc>
        <modlrstring>GetPlugin(serviceProvider:IEcoServiceProvider; pluginClassName:String):Plugin</modlrstring>
        <attribute name="Stereotype"></attribute>
        <attribute name="Name">GetPlugin</attribute>
        <attribute name="RuntimeName">GetPlugin</attribute>
        <attribute name="Visibility">Public</attribute>
        <attribute name="id">68887460-2066-4d58-9ee0-c37dda36a797</attribute>
        <attribute name="IsSealed">False</attribute>
        <attribute name="IsConstructor">False</attribute>
        <attribute name="IsVirtual">False</attribute>
        <attribute name="IsNew">False</attribute>
        <attribute name="IsOverride">False</attribute>
        <attribute name="IsStatic">True</attribute>
        <attribute name="IsAbstract">False</attribute>
        <attribute name="Precondition"></attribute>
        <attribute name="Postcondition"></attribute>
        <attribute name="IsQuery">False</attribute>
        <attribute name="Body"></attribute>
        <link name="ReturnParameter">
          <object type="Parameter">
            <attribute name="Stereotype"></attribute>
            <attribute name="Name"></attribute>
            <attribute name="RuntimeName"></attribute>
            <attribute name="Kind">Return</attribute>
            <link name="Type">
              <object type="Datatype">
                <attribute name="Stereotype"></attribute>
                <attribute name="Name">Plugin</attribute>
                <attribute name="RuntimeName">Plugin</attribute>
                <attribute name="IsAbstract">False</attribute>
              </object>
            </link>
          </object>
        </link>
        <link name="Parameter">
          <object type="Parameter">
            <attribute name="Stereotype"></attribute>
            <attribute name="Name">serviceProvider</attribute>
            <attribute name="RuntimeName">serviceProvider</attribute>
            <attribute name="Kind">In</attribute>
            <link name="Type">
              <object type="Datatype">
                <attribute name="Stereotype"></attribute>
                <attribute name="Name">IEcoServiceProvider</attribute>
                <attribute name="RuntimeName">IEcoServiceProvider</attribute>
                <attribute name="IsAbstract">False</attribute>
              </object>
            </link>
          </object>
          <object type="Parameter">
            <attribute name="Stereotype"></attribute>
            <attribute name="Name">pluginClassName</attribute>
            <attribute name="RuntimeName">pluginClassName</attribute>
            <attribute name="Kind">In</attribute>
            <link name="Type">
              <object type="Datatype">
                <attribute name="Stereotype"></attribute>
                <attribute name="Name">String</attribute>
                <attribute name="RuntimeName">String</attribute>
                <attribute name="IsAbstract">False</attribute>
              </object>
            </link>
          </object>
        </link>
        <link name="TaggedValue">
          <object type="TaggedValue">
            <attribute name="Value">True</attribute>
            <attribute name="Tag">Eco.PlainMethod</attribute>
          </object>
        </link>
      </object>
      <object type="Method">
        <doc><![CDATA[<DIV>Method. Gets the implementation of the plugin's functionality. Returns&nbsp;new instance&nbsp;of type&nbsp;<SPAN style="FONT-STYLE: italic">ClassName</SPAN> located in <SPAN style="FONT-STYLE: italic">AssemblyFileName.</SPAN></DIV>]]></doc>
        <modlrstring>GetImplementation():object</modlrstring>
        <attribute name="Stereotype"></attribute>
        <attribute name="Name">GetImplementation</attribute>
        <attribute name="RuntimeName">GetImplementation</attribute>
        <attribute name="Visibility">Public</attribute>
        <attribute name="id">c4ef8229-62b2-41e0-a292-b043737e2ead</attribute>
        <attribute name="IsSealed">False</attribute>
        <attribute name="IsConstructor">False</attribute>
        <attribute name="IsVirtual">False</attribute>
        <attribute name="IsNew">False</attribute>
        <attribute name="IsOverride">False</attribute>
        <attribute name="IsStatic">False</attribute>
        <attribute name="IsAbstract">False</attribute>
        <attribute name="Precondition"></attribute>
        <attribute name="Postcondition"></attribute>
        <attribute name="IsQuery">False</attribute>
        <attribute name="Body"></attribute>
        <link name="ReturnParameter">
          <object type="Parameter">
            <attribute name="Stereotype"></attribute>
            <attribute name="Name"></attribute>
            <attribute name="RuntimeName"></attribute>
            <attribute name="Kind">Return</attribute>
            <link name="Type">
              <object type="Datatype">
                <attribute name="Stereotype"></attribute>
                <attribute name="Name">object</attribute>
                <attribute name="RuntimeName">object</attribute>
                <attribute name="IsAbstract">False</attribute>
              </object>
            </link>
          </object>
        </link>
        <link name="Parameter" />
        <link name="TaggedValue">
          <object type="TaggedValue">
            <attribute name="Value">True</attribute>
            <attribute name="Tag">Eco.PlainMethod</attribute>
          </object>
        </link>
      </object>
      <object type="Method">
        <doc><![CDATA[<DIV>
<DIV>Static method. Returns&nbsp;the plugin with the specified name in <SPAN style="FONT-STYLE: italic">plugin</SPAN>. The result determines whether the&nbsp;requested plugin was found.</DIV></DIV>]]></doc>
        <modlrstring>GetPlugin(serviceProvider:IEcoServiceProvider; pluginClassName:String; out plugin:Plugin):Boolean</modlrstring>
        <attribute name="Stereotype"></attribute>
        <attribute name="Name">GetPlugin</attribute>
        <attribute name="RuntimeName">GetPlugin</attribute>
        <attribute name="Visibility">Public</attribute>
        <attribute name="id">c5bbc1e5-96f0-4ada-9af5-bbd277541415</attribute>
        <attribute name="IsSealed">False</attribute>
        <attribute name="IsConstructor">False</attribute>
        <attribute name="IsVirtual">False</attribute>
        <attribute name="IsNew">False</attribute>
        <attribute name="IsOverride">False</attribute>
        <attribute name="IsStatic">True</attribute>
        <attribute name="IsAbstract">False</attribute>
        <attribute name="Precondition"></attribute>
        <attribute name="Postcondition"></attribute>
        <attribute name="IsQuery">False</attribute>
        <attribute name="Body"></attribute>
        <link name="ReturnParameter">
          <object type="Parameter">
            <attribute name="Stereotype"></attribute>
            <attribute name="Name"></attribute>
            <attribute name="RuntimeName"></attribute>
            <attribute name="Kind">Return</attribute>
            <link name="Type">
              <object type="Datatype">
                <attribute name="Stereotype"></attribute>
                <attribute name="Name">Boolean</attribute>
                <attribute name="RuntimeName">Boolean</attribute>
                <attribute name="IsAbstract">False</attribute>
              </object>
            </link>
          </object>
        </link>
        <link name="Parameter">
          <object type="Parameter">
            <attribute name="Stereotype"></attribute>
            <attribute name="Name">serviceProvider</attribute>
            <attribute name="RuntimeName">serviceProvider</attribute>
            <attribute name="Kind">In</attribute>
            <link name="Type">
              <object type="Datatype">
                <attribute name="Stereotype"></attribute>
                <attribute name="Name">IEcoServiceProvider</attribute>
                <attribute name="RuntimeName">IEcoServiceProvider</attribute>
                <attribute name="IsAbstract">False</attribute>
              </object>
            </link>
          </object>
          <object type="Parameter">
            <attribute name="Stereotype"></attribute>
            <attribute name="Name">pluginClassName</attribute>
            <attribute name="RuntimeName">pluginClassName</attribute>
            <attribute name="Kind">In</attribute>
            <link name="Type">
              <object type="Datatype">
                <attribute name="Stereotype"></attribute>
                <attribute name="Name">String</attribute>
                <attribute name="RuntimeName">String</attribute>
                <attribute name="IsAbstract">False</attribute>
              </object>
            </link>
          </object>
          <object type="Parameter">
            <attribute name="Stereotype"></attribute>
            <attribute name="Name">plugin</attribute>
            <attribute name="RuntimeName">plugin</attribute>
            <attribute name="Kind">Out</attribute>
            <link name="Type">
              <object type="Datatype">
                <attribute name="Stereotype"></attribute>
                <attribute name="Name">Plugin</attribute>
                <attribute name="RuntimeName">Plugin</attribute>
                <attribute name="IsAbstract">False</attribute>
              </object>
            </link>
          </object>
        </link>
        <link name="TaggedValue">
          <object type="TaggedValue">
            <attribute name="Value">True</attribute>
            <attribute name="Tag">Eco.PlainMethod</attribute>
          </object>
        </link>
      </object>
    </link>
    <link name="AssociationEnd" />
    <link name="StateMachine" />
    <link name="SpecializationConnection">
      <object type="SpecializationConnection">
        <attribute name="id">9e6fe6ab-db3f-47ce-be93-f84da86b54a0</attribute>
        <attribute name="x">0</attribute>
        <attribute name="NextLegDrawKind">0</attribute>
        <attribute name="y">0</attribute>
        <attribute name="LabelAngle">0</attribute>
        <attribute name="LabelDistance">0</attribute>
        <attribute name="ViaPointsStartsHere">False</attribute>
        <attribute name="SideToUse">0</attribute>
      </object>
      <object type="SpecializationConnection">
        <attribute name="id">be69b6c4-5ce4-494e-a6f3-9b462d03fbb5</attribute>
        <attribute name="x">27,5</attribute>
        <attribute name="NextLegDrawKind">0</attribute>
        <attribute name="y">16</attribute>
        <attribute name="LabelAngle">0</attribute>
        <attribute name="LabelDistance">0</attribute>
        <attribute name="ViaPointsStartsHere">True</attribute>
        <attribute name="SideToUse">1</attribute>
      </object>
      <object type="SpecializationConnection">
        <attribute name="id">1da84816-c330-46cb-9b6b-6758f140e4c2</attribute>
        <attribute name="x">-57</attribute>
        <attribute name="NextLegDrawKind">0</attribute>
        <attribute name="y">40</attribute>
        <attribute name="LabelAngle">0</attribute>
        <attribute name="LabelDistance">0</attribute>
        <attribute name="ViaPointsStartsHere">True</attribute>
        <attribute name="SideToUse">3</attribute>
      </object>
      <object type="SpecializationConnection">
        <attribute name="id">c208963c-23a6-4f71-a020-1932143c9196</attribute>
        <attribute name="x">24</attribute>
        <attribute name="NextLegDrawKind">0</attribute>
        <attribute name="y">0</attribute>
        <attribute name="LabelAngle">0</attribute>
        <attribute name="LabelDistance">0</attribute>
        <attribute name="ViaPointsStartsHere">False</attribute>
        <attribute name="SideToUse">0</attribute>
      </object>
      <object type="SpecializationConnection">
        <attribute name="id">fb714ad4-a0cc-435f-8c7c-73ac5f387448</attribute>
        <attribute name="x">0</attribute>
        <attribute name="NextLegDrawKind">0</attribute>
        <attribute name="y">0</attribute>
        <attribute name="LabelAngle">0</attribute>
        <attribute name="LabelDistance">0</attribute>
        <attribute name="ViaPointsStartsHere">True</attribute>
        <attribute name="SideToUse">0</attribute>
      </object>
    </link>
    <link name="Package_">
      <object type="Package" href="package_euradsystempackage">
        <doc><![CDATA[<DIV>Eurad business classes.</DIV>]]></doc>
        <attribute name="Stereotype"></attribute>
        <attribute name="Name">EuradSystem</attribute>
        <attribute name="RuntimeName">EuradSystemPackage</attribute>
        <attribute name="DefaultLength">50</attribute>
        <attribute name="EffectiveNameSpace">Rcs.Eurad.Model</attribute>
        <attribute name="CodeGenCharacterMode">AllowUnicode</attribute>
        <attribute name="id">a8b79a4f-5652-4d94-84a7-44ed101961bf</attribute>
        <attribute name="AdditionalNamespaces"></attribute>
        <attribute name="ORMappingConfigMode">Medium</attribute>
        <attribute name="GenerateNullableTypes">True</attribute>
        <attribute name="NameSpace">Rcs.Eurad.Model</attribute>
        <attribute name="PluralSuffix">s</attribute>
      </object>
    </link>
    <link name="PlacedClass">
      <object type="PlacedClass" href="plugin">
        <attribute name="RenderedWidth">278</attribute>
        <attribute name="id">5d2b19fb-7e19-4415-971f-51faf27e48f1</attribute>
        <attribute name="Color">1692800256</attribute>
        <attribute name="Size">1</attribute>
        <attribute name="LastKnownName">Plugin</attribute>
        <attribute name="RenderedHeight">136</attribute>
        <attribute name="x">384</attribute>
        <attribute name="y">24</attribute>
        <attribute name="ShowMethods">False</attribute>
        <attribute name="PickedFeatureVisibility">ShowAll</attribute>
        <attribute name="ShowAttributes">False</attribute>
        <attribute name="ClassId">{e06579c6-ee99-48ee-b8e3-1197be138911}</attribute>
        <link name="Diagram">
          <object type="Diagram" href="classdiagram_01.11_reports_and_tariffs_framework">
            <doc><![CDATA[]]></doc>
            <modlrdiagram>diagramimages/f7f65fd6-734d-4347-beb1-af8c9589b690.jpg</modlrdiagram>
            <attribute name="ColorOnNew">0</attribute>
            <attribute name="Id">f7f65fd6-734d-4347-beb1-af8c9589b690</attribute>
            <attribute name="ZoomScaleFactor">0</attribute>
            <attribute name="ChangeDate">0001-01-01 00:00:00</attribute>
            <attribute name="SnapGridSize">8</attribute>
            <attribute name="Designer"></attribute>
            <attribute name="Comment"></attribute>
            <attribute name="PresentationName">01.11 Reports and Tariffs Framework</attribute>
            <attribute name="ShowMethodSignatures">False</attribute>
            <attribute name="ShowAssociationNames">DimDefaults</attribute>
            <attribute name="ShowVisibility">False</attribute>
            <attribute name="SquareNewAssociations">False</attribute>
            <attribute name="SquareNewGeneralizations">False</attribute>
            <attribute name="ShowMethodReturnTypes">False</attribute>
            <attribute name="Name">01.11 Reports and Tariffs Framework</attribute>
          </object>
        </link>
      </object>
      <object type="PlacedClass" href="plugin">
        <attribute name="RenderedWidth">278</attribute>
        <attribute name="id">9a471cef-c42f-4f5d-a460-c9a8339fb73c</attribute>
        <attribute name="Color">1692800256</attribute>
        <attribute name="Size">1</attribute>
        <attribute name="LastKnownName">Plugin</attribute>
        <attribute name="RenderedHeight">136</attribute>
        <attribute name="x">528</attribute>
        <attribute name="y">56</attribute>
        <attribute name="ShowMethods">False</attribute>
        <attribute name="PickedFeatureVisibility">ShowAll</attribute>
        <attribute name="ShowAttributes">False</attribute>
        <attribute name="ClassId">{e06579c6-ee99-48ee-b8e3-1197be138911}</attribute>
        <link name="Diagram">
          <object type="Diagram" href="classdiagram_01.12_tariffs_framework">
            <doc><![CDATA[]]></doc>
            <modlrdiagram>diagramimages/ab94ce05-33c1-42e2-b27b-2231114e8318.jpg</modlrdiagram>
            <attribute name="ColorOnNew">0</attribute>
            <attribute name="Id">ab94ce05-33c1-42e2-b27b-2231114e8318</attribute>
            <attribute name="ZoomScaleFactor">0</attribute>
            <attribute name="ChangeDate">0001-01-01 00:00:00</attribute>
            <attribute name="SnapGridSize">8</attribute>
            <attribute name="Designer"></attribute>
            <attribute name="Comment"></attribute>
            <attribute name="PresentationName">01.12 Tariffs Framework</attribute>
            <attribute name="ShowMethodSignatures">False</attribute>
            <attribute name="ShowAssociationNames">DimDefaults</attribute>
            <attribute name="ShowVisibility">False</attribute>
            <attribute name="SquareNewAssociations">False</attribute>
            <attribute name="SquareNewGeneralizations">False</attribute>
            <attribute name="ShowMethodReturnTypes">False</attribute>
            <attribute name="Name">01.12 Tariffs Framework</attribute>
          </object>
        </link>
      </object>
      <object type="PlacedClass" href="plugin">
        <attribute name="RenderedWidth">278</attribute>
        <attribute name="id">35071553-2fe7-4cc3-9c8b-454afd76f1e0</attribute>
        <attribute name="Color">1692800256</attribute>
        <attribute name="Size">1</attribute>
        <attribute name="LastKnownName">Plugin</attribute>
        <attribute name="RenderedHeight">136</attribute>
        <attribute name="x">440</attribute>
        <attribute name="y">24</attribute>
        <attribute name="ShowMethods">False</attribute>
        <attribute name="PickedFeatureVisibility">ShowAll</attribute>
        <attribute name="ShowAttributes">False</attribute>
        <attribute name="ClassId">{e06579c6-ee99-48ee-b8e3-1197be138911}</attribute>
        <link name="Diagram">
          <object type="Diagram" href="classdiagram_01.13_imports">
            <doc><![CDATA[]]></doc>
            <modlrdiagram>diagramimages/82af5431-3937-4322-bdeb-f1edaceeb5a6.jpg</modlrdiagram>
            <attribute name="ColorOnNew">0</attribute>
            <attribute name="Id">82af5431-3937-4322-bdeb-f1edaceeb5a6</attribute>
            <attribute name="ZoomScaleFactor">0</attribute>
            <attribute name="ChangeDate">0001-01-01 00:00:00</attribute>
            <attribute name="SnapGridSize">8</attribute>
            <attribute name="Designer"></attribute>
            <attribute name="Comment"></attribute>
            <attribute name="PresentationName">01.13 Imports</attribute>
            <attribute name="ShowMethodSignatures">False</attribute>
            <attribute name="ShowAssociationNames">DimDefaults</attribute>
            <attribute name="ShowVisibility">False</attribute>
            <attribute name="SquareNewAssociations">False</attribute>
            <attribute name="SquareNewGeneralizations">False</attribute>
            <attribute name="ShowMethodReturnTypes">False</attribute>
            <attribute name="Name">01.13 Imports</attribute>
          </object>
        </link>
      </object>
    </link>
  </object>
</contents>