body
{
    word-spacing: normal;
    letter-spacing: normal;
    text-align: left;
    vertical-align: baseline;
    line-height: normal;
}
.style2
{
font-family: sans-serif;
}
.newStyle1,.style1
{
font-family: sans-serif;
font-size: small;
}
.cellstyle
{
vertical-align: top;
}
.HeaderMain,.h1
{
font-family: sans-serif;
font-size: x-large;
font-style: normal;
font-weight: bold;
}
.subheader,.h2
{
font-family: sans-serif;
font-size: large;
font-weight: bold;
}

.backtoindex
{
    font-family: sans-serif;
    font-size: x-small;
    font-weight: bold;
}